USE [master]
GO
/****** Object:  Database [DataBase493]    Script Date: 05.10.2022 16:00:00 ******/
CREATE DATABASE [DataBase493]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DataBase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataBase493].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataBase493]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 05.10.2022 16:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Role__8AFACE3A7D9D423B] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 05.10.2022 16:00:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserSurname] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserPatronymic] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](max) NOT NULL,
	[UserPassword] [nvarchar](max) NOT NULL,
	[UserRole] [int] NOT NULL,
 CONSTRAINT [PK__User__1788CCAC5AB8491E] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Клиент')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (1, N'Сергей', N'Пантелеймонович', N'Ефремов ', N'loginDEppn2018', N'6}i+FD', 1)
INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (2, N'Тамара', N'Валентиновна', N'Родионова ', N'loginDElqb2018', N'RNynil', 1)
INSERT [dbo].[User] ([UserID], [UserSurname], [UserName], [UserPatronymic], [UserLogin], [UserPassword], [UserRole]) VALUES (3, N'Галина', N'Улебовна', N'Миронова ', N'loginDEydn2018', N'34I}X9', 2)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK__User__UserRole__4BAC3F29] FOREIGN KEY([UserRole])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK__User__UserRole__4BAC3F29]
GO
/****** Object:  Statistic [_WA_Sys_00000002_47DBAE45]    Script Date: 05.10.2022 16:00:01 ******/
CREATE STATISTICS [_WA_Sys_00000002_47DBAE45] ON [dbo].[Role]([RoleName]) WITH STATS_STREAM = 0x010000000100000000000000000000008D6057A1000000002F02000000000000EF01000000000000E7030000E7000000C80000000000000015D0000000000000070000005BF3060125AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F040000010023001A043B04380435043D044204FF0100000000000000010000000100000028000000280000000000000000000000060000001A043B04380435043D04420402000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK__Role__8AFACE3A7D9D423B]    Script Date: 05.10.2022 16:00:01 ******/
UPDATE STATISTICS [dbo].[Role]([PK__Role__8AFACE3A7D9D423B]) WITH STATS_STREAM = 0x010000000100000000000000000000003B680AA70000000040000000000000000000000000000000380300003800000004000A0000000000000000000C020000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_49C3F6B7]    Script Date: 05.10.2022 16:00:01 ******/
CREATE STATISTICS [_WA_Sys_00000002_49C3F6B7] ON [dbo].[User]([UserSurname]) WITH STATS_STREAM = 0x010000000100000000000000000000001E7F3F96000000002F02000000000000EF01000000000000E7030000E7000000C80000000000000015D0000000000000070000005E24070125AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F04000001002300210435044004330435043904FF01000000000000000100000001000000280000002800000000000000000000000600000021043504400433043504390402000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_49C3F6B7]    Script Date: 05.10.2022 16:00:01 ******/
CREATE STATISTICS [_WA_Sys_00000003_49C3F6B7] ON [dbo].[User]([UserName]) WITH STATS_STREAM = 0x01000000010000000000000000000000BF7727800000000053020000000000001302000000000000E7030000E7000000C80000000000000015D0000000000000070000005D24070125AF000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000F0410000803F000000000000F0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000003D000000000000008F0000000000000097000000000000009F000000000000000800000000000000300010000000803F000000000000803F040000010035001F0430043D04420435043B04350439043C043E043D043E04320438044704FF01000000000000000100000001000000280000002800000000000000000000000F0000001F0430043D04420435043B04350439043C043E043D043E04320438044704020000004000000000010F0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_49C3F6B7]    Script Date: 05.10.2022 16:00:01 ******/
CREATE STATISTICS [_WA_Sys_00000004_49C3F6B7] ON [dbo].[User]([UserPatronymic]) WITH STATS_STREAM = 0x01000000010000000000000000000000FC9CC082000000003702000000000000F701000000000000E7030000E7000000C80000000000000015D0000001000000070000005C24070125AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002F0000000000000073000000000000007B0000000000000083000000000000000800000000000000300010000000803F000000000000803F0400000100270015044404400435043C043E0432042000FF01000000000000000100000001000000280000002800000000000000000000000800000015044404400435043C043E043204200002000000400000000001080000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_49C3F6B7]    Script Date: 05.10.2022 16:00:01 ******/
CREATE STATISTICS [_WA_Sys_00000005_49C3F6B7] ON [dbo].[User]([UserLogin]) WITH STATS_STREAM = 0x01000000010000000000000000000000C9921616000000004F020000000000000F02000000000000E7030000E7000000FFFF00000000000015D00000E7000000070000005B24070125AF000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000E0410000803F000000000000E0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000003B000000000000008B0000000000000093000000000000009B000000000000000800000000000000300010000000803F000000000000803F040000010033006C006F00670069006E0044004500700070006E003200300031003800FF01000000000000000100000001000000280000002800000000000000000000000E0000006C006F00670069006E0044004500700070006E003200300031003800020000004000000000010E0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_49C3F6B7]    Script Date: 05.10.2022 16:00:01 ******/
CREATE STATISTICS [_WA_Sys_00000006_49C3F6B7] ON [dbo].[User]([UserPassword]) WITH STATS_STREAM = 0x0100000001000000000000000000000028566639000000002F02000000000000EF01000000000000E7030000E7000000FFFF00000000000015D00000E7000000070000005824070125AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F0400000100230036007D0069002B0046004400FF01000000000000000100000001000000280000002800000000000000000000000600000036007D0069002B004600440002000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_49C3F6B7]    Script Date: 05.10.2022 16:00:01 ******/
CREATE STATISTICS [_WA_Sys_00000007_49C3F6B7] ON [dbo].[User]([UserRole]) WITH STATS_STREAM = 0x01000000010000000000000000000000AE5211F500000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000770073070000005524070125AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK__User__1788CCAC5AB8491E]    Script Date: 05.10.2022 16:00:01 ******/
UPDATE STATISTICS [dbo].[User]([PK__User__1788CCAC5AB8491E]) WITH STATS_STREAM = 0x010000000100000000000000000000003B680AA70000000040000000000000000000000000000000380300003800000004000A0000000000000000000C020000, ROWCOUNT = 50, PAGECOUNT = 1
GO
USE [master]
GO
